:root {
  /* Header background */
  --header_bg: #f8f9fa;
  /* line below selected item in header */
  --active_border: red;
  /* background of text box on home page */
  --home_text_bg: #f0f2f2;
  /* font in text box on home page */
  --home_text_font: #8b6f7c;
  /* background of "READ MORE" button in text box on home page */
  --home_text_btn_bg: #97afa3;
  /* font of "READ MORE" button in text box on home page */
  --home_text_btn_font: white;
  /* Footer background */
  --footer_bg: #ffffe6;
  /* About paragraph font */
  --about_font: #8b6f7c;
  /* Background of interest cards */
  --interest_bg: #f0f2f2;
  /* Background of "work" card in experience */
  --work_line: #c5e7fc;
  /* Background of "education" card in experience */
  --education_line: #8b6f7c;
  /* Background of filled stars in skills */
  --star_filled: #22a39f;
  /* Background of empty stars in skills */
  --star_empty: grey;
  /* Background of skills div */
  --skills_bg: #faf9e1;
  /* Font of Skills header */
  --skills_header_font: #22a39f;
}

.body {
  font-family: "garamond";
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-device-width: 480px) {
  .footerImage {
      width: 70px;
  }

  .table-responsive tr {
      display: block;
    }
    
  .table-responsive tr td {
      display: block;
    }
}

@media only screen and (min-device-width: 480px) {
  .footerImage {
      max-width: 250px;
      max-height: 100px;
  }
}

.headerImg {
  height: 75px;
  width: 86px
}

.headerAbout{
  height: 75px;
  width: 50px !important;
}

.navbarClass {
  background-color: var(--header_bg) !important;
}

.homeTextBox {
  background-color: var(--home_text_bg);
  color: var(--home_text_font);
  margin: "10px 10px 10px 10px";
}

.homeTextBtn.btn {
  background-color: var(--home_text_btn_bg);
  color: var(--home_text_btn_font);
  font-weight: "bold";
}

.footer {
  background-color: var(--footer_bg);
  width: "100%";
  margin-top: 10px;
}

.aboutPara {
  margin-top: 10%;
  font-size: 20px;
  color: var(--about_font);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
}

.wideContainer {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.mediumWideContainer {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.navbar-toggler {
  background-color: white;
}
.navbar {
  max-width: 100%;
}

.navbar-light {
  background-color: transparent;
  /* opacity: 0.7; */
  padding-bottom: 20px;
  font-size: 16px;
}

.nav-drop {
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: bold;
}

.navbar-nav > li {
  border-right: 1px solid #000;
}

.nav-link {
  color: black;
}
.nav-item {
  padding-left: 5%;
  font-size: 0.95vw;
  font-weight: bold;
}

.active_item {
  border-bottom: 1px solid var(--active_border);
}

.required:after {
  content: " *";
}

.projectCard {
  margin-left: 10px;
  /* border: 1px solid black; */
  border: none;
}

.projectCard:hover {
  box-shadow: 5px 5px 10px;
}

.cardImgText {
  display: none;
}
.cardImgOverlayItem:hover .cardImgText {
  display: inline;
}

/* Experience */
.vertical-timeline-element-icon {
  border-radius: 0%;
  height: 70px;
  width: 70px;
}

.vertical-timeline-element-content {
  margin-left: 10%;
}

.workTimeline::before {
  background: var(--work_line) !important;
}

.educationTimeline::before {
  background: var(--education_line) !important;
}

#starFilled {
  color: var(--star_filled);
}

#starEmpty {
  color: var(--star_empty);
}

#skillsDiv {
  background-color: var(--skills_bg);
  width: 100%;
  padding-bottom: 10px;
}

#skillsHeader {
  text-align: left;
  padding-top: 20px;
  color: var(--skills_header_font);
  font-weight: bold;
}

.skillsTableDiv{
  width: 80%;
  margin-left: 10%;
}

/* interest */
.interest {
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}

.interestFront,
.interestBack {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  background-color: var(--interest_bg);
}

.interestContainer:hover .interest {
  transform: rotateY(180deg);
}

.interestBack {
  transform: rotateY(180deg);
}

.interest > div > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px !important;
  height: 100%;
}

.interest {
  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
}

.interest h4 {
  margin: 4px;
}
